*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #00032b;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80vh;
    width: 60vw;
    background: linear-gradient(to top, #001e31, #014d88);
    box-shadow: 2px 2px 10px #0175d3, 2px 2px 10px #0175d3, -2px -2px 10px #0175d3, -2px -2px 10px #0175d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
}
h1{
    margin-bottom: 15px;
    color: #00032b;
    text-shadow: 2px 2px 10px #50d9fc;
}
.text{
    height: 40vh;
    width: 60vw;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fromText{
    height: 40vh;
    width: 29vw;
    border: none;
    background-color: #001e31;
    color: gainsboro;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
}
#toText{
    height: 40vh;
    width: 29vw;
    border: none;
    background-color: #001e31;
    color: gainsboro;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
}
.selectArea{
    height: 15vh;
    width: 60vw;
    /* background-color: #00032b; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.select1{
   height: 10vh;
   width: 29vw;
   font-size: 22px;
   border: none;
   border-radius: 10px;
   background-color: #01686d;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.select2{
   height: 10vh;
   width: 29vw;
   font-size: 22px;
   border: none;
   border-radius: 10px;
   background-color: #01686d;
   display: flex;
   justify-content: space-evenly;
   align-items: center;    
}
#fselect{
    height: 7vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    background-color: #001e31;
    color: gray;
    padding: 10px;
    border-radius: 10px;
}
#Translator{
    height: 8vh;
    width: 35vw;
    font-size: 22px;
    border: none;
    border-radius: 20px;
    background-color:#006368;
    color: gainsboro;
}